.background {
    background-color: var(--color-secondary);
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .background {
        margin-bottom: 1.5rem;
    }
}

.container {
    padding: .5rem 0;
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .container {
        justify-content: flex-start;
    }
}

.link {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    width: 1.5rem;
}